# Node.js dependencies
node_modules/

# Build output (Vite, React, etc.)
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment files
.env
.env.local

# Editor folders
.vscode/
.idea/